.container {
    display: flex;
    flex-direction: column;
    place-items: center;

    padding: 10rem;

    h1 {
        font-size: 1.4rem;
    }

}

.container .utilities {
    list-style-position: inside;
    background-color: #dcdcdc;

    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}