.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 10%;

    h1 {
        font-size: 1.4rem;
    }
}

.utilities {
    align-self: center;

    list-style-position: inside;
    background-color: #dcdcdc;

    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;

    line-height: 2rem;

    min-width: 80%;
}