.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    height: 100vh;

    font-size: 1.2rem;
    list-style: none;

    background-color: white;
    box-shadow: 0 0 5px #00000050;

    :first-child, :last-child {
        margin-top: auto;
    }

    :last-child {
        margin-bottom: 2rem;
    }
}

.sidebar-item {
    align-self: flex-start;
}

.sidebar-item .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;
    margin: 1rem;

    img {
        margin: 0 !important;
    }
}